<ap-search 
    (onTyping)="filter = $event" [valueSearch]="filter">
</ap-search>

<ap-photos [photos1]="photos2 | filterByDescription: filter"></ap-photos> <!-- filterByDescription irá receber dois parâmetros photos e filter -->

<ap-load-button
    (click)="load()" 
    [hasMore]="hasMore"
    ></ap-load-button>

