<p class="text-center text-muted" *ngIf="!photos1.length"><!-- Só vou exibir esse paragrafo se o length for 0 -->
        Sorry, no photos
</p>

<ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row no-gutters">
        <div *ngFor="let photo of cols" class="col-4" apDarkenOnHover brightness="50%">
            <a [routerLink]="['/photo', photo.id]">
                <ap-card>
                    <ap-photo
                    [url]="photo.url" 
                    [descricao]="photo.descricao"> <!-- Itero no array de photos criado no app.component.ts e faço data binding para passar o valor -->
                    </ap-photo>
                
                    <div class="text-center p-1">
                        <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{ photo.likes }}
                        <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ photo.comments }}
                    </div>
                </ap-card>
            </a>
        </div>
    </li>
</ol>
