<div class="card border light text-center">
    <h4 class="card-header" *ngIf="title">{{ title }}</h4>
    <div class="card-block text-justify">
        <ng-content></ng-content> <!-- Essa tag faz com que outro componente seja renderizado aqui. Em photos.component.html uso ap-card e dentro dele tem o ap-photo -->
    </div>
</div>