<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
        <div class="col-lg-8">
            <ap-photo [url]="photo.url" [descricao]="photo.descricao"></ap-photo>
        </div>

        <div class="col-lg-4 p-4">
            <small>
                <p class="text-left break-word">{{photo.description}}</p>
                <hr>
            </small>
            <div class="mt-4">
                <form>
                    <div class="input-group">
                        <textarea class="form-control"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary pull-left">Publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>