<h4 class="text-center">Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #emailInputViewChild formControlName="email" placeholder="email" class="form-control" autofocus>
        <ap-vmessage *ngIf="signupForm.get('email').errors?.required" message="Email is required!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('email').errors?.email" message="Invalid e-mail!"></ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="fullName" placeholder="full name" class="form-control">
        <ap-vmessage *ngIf="signupForm.get('fullName').errors?.required" message="Full name is required!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('fullName').errors?.minlength" message="Minimum length is 2!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('fullName').errors?.maxlength" message="Maximum length is 40!"></ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="userName" placeholder="user name" class="form-control">
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.required" message="User name is required!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.minlength" message="Minimum length is 2!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.maxlength" message="Maximum length is 30!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.pattern" message="Must be lowercase!"></ap-vmessage>
        
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.userNameTaken" message="Username already taken"></ap-vmessage>
        <small *ngIf="signupForm.get('userName').valid" class="text-success">User available</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" placeholder="password" class="form-control">
        <ap-vmessage *ngIf="signupForm.get('password').errors?.required" message="Password is required!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('password').errors?.minlength" message="Minimum length is 8!"></ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('password').errors?.maxlength" message="Maximum length is 14!"></ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
</form>