<ap-header></ap-header>

<router-outlet>
<!--Essa diretiva significa que de acordo com o endereço URL cadastrado nas rotas será carregado o componente e exibido aqui dentro de app.component.html -->    
</router-outlet>

<ap-footer></ap-footer>