<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">ALURAPIC</a>
        <div *ngIf="(user$ | async) as user; else login"> <!-- Com o Async pipe consigo capturar a emissão do Observable diretamente no template -->
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name }}</a>
            <span class="navbar-text">
                <a [routerLink]="['']" (click)="logout()">(Logout)</a>
            </span>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Please, login!</a> <!-- Configuração de rota -->
            </span>
        </ng-template>
    </nav>
</header>