<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search mr-1"></i>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
            [value]="valueSearch"
            >  <!-- (keyup) é um event bind, associo o evento. Pego o valor que digitei e jogo na propriedade filter do componente -->
    </form>
</div>
