<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group col-md-6">
        <input #userNameViewChild formControlName="userName" class="form-control" placeholder="username" autofocus>
        <ap-vmessage *ngIf="loginForm.get('userName').errors?.required" message="User name is required!"></ap-vmessage>
    </div>

    <div class="form-group col-md-6">
        <input formControlName="password" type="password" class="form-control" placeholder="password">
        <ap-vmessage *ngIf="loginForm.get('password').errors?.required" message="Password is required!"></ap-vmessage>
    </div>

    <button style="margin-left: 15px;" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
        Login
    </button>

</form>

<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>